{% extends 'marketplace/base.html' %}

{% block content %}

    <div class="row">

        {% for pr in products %}

            <div class="col-lg-4">
                <img class="thumbnail" src="{{ pr.imageURL }}">
                <div class="box-element product">
                    <h5><strong>{{ pr.name }}</strong></h5>
                    <hr>
                    <a class="btn btn-outline-success" href="{{ pr.get_absolute_url }}">View</a>
                    <a class="btn btn-outline-warning" href="{% url 'edit_product' pr.pk %}">Edit</a>
                    <a class="btn btn-outline-danger" href="{% url 'delete_product' pr.pk %}">Delete</a>
                </div>

            </div>

        {% endfor %}

    </div>



{% endblock %}