{% extends 'marketplace/base.html' %}

{% block content %}
    <h1><div style="text-align: center;">Posting a product</div></h1>
    <form action="{% url 'sell' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-error">{{ form.non_field_errors }}</div>

        {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}


        <button type="submit">Post</button>
    </form>

{% endblock content %}